---
const { content } = Astro.props;
const contact = content.contact;
---

<section
  id="contact"
  class="max-w-7xl mx-auto my-16 px-4 text-center sm:h-1/3 flex flex-col items-center justify-around"
>
  <h2 class="text-3xl font-bold mb-4">{contact.title}</h2>
  <div class="mb-4">
    <p class="mb-6 text-gray-700">{contact.description}</p>
    <div class="flex items-center justify-center gap-2 mb-2">
      <span class="font-semibold">{contact.phone}:</span>
      <a href="tel:+34 601 677 410" class="text-blue-600 hover:underline"
        >+34 601 677 410</a
      >
      <a
        href="https://wa.me/34601677410"
        target="_blank"
        rel="noopener"
        class="ml-2"
      >
        <img
          src="/WhatsApp.svg"
          alt="WhatsApp"
          class="inline w-6 h-6 align-middle"
        />
      </a>
    </div>
    <div class="flex items-center justify-center gap-2 mb-2">
      <span class="font-semibold">{contact.email}:</span>
      <a
        href="mailto:info@lapalomablanca.es"
        class="text-blue-600 hover:underline">info@lapalomablanca.es</a
      >
    </div>
  </div>
  <p class="mt-6 text-lg text-gray-800 font-medium">{contact.cta}</p>
</section>
